<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mask.dao.ReplyDAO">
	<select id="list" resultType="com.mask.dto.ReplyDTO">
		select * from Rep where titleNum = #{titleNum} order by rno desc ;
	</select>
	<insert id="insert">
		insert into Rep (rno, titleNum, replytext, replyer,repdate)
		values (seq_reply.nextval, #{titleNum},#{replytext},#{replyer},sysdate)
	</insert>
	<update id="update">
		update Rep set replytext = #{replytext},
		REPDATE = sysdate
		where rno = #{rno}
	</update>

	<delete id="delete">
		delete from rep where rno = #{rno}
	</delete>

	<select id="listPage" resultType="com.mask.dto.ReplyDTO">
		<![CDATA[
		select
		rno, titleNum, replytext, replyer, repdate
		from
		(
		select /*+INDEX_DESC(rep pk_reply))*/
		rownum rn, rno, titleNum, replytext, replyer, repdate
		from rep
		where titleNum = #{titleNum}
		and rno > 0
		and rownum <= #{pm.page} * #{pm.perPageNum}
		)
		where rn > ( #{pm.page} -1) * #{pm.perPageNum}
		]]>
	</select>
 <select id="count" resultType="int">
 <![CDATA[
 select 
   count(bno) 
 from 
   tbl_reply 
 where 
   bno =#{bno} 
 ]]>
 </select>
</mapper>